# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Directories
external
build/Innovator
build/Release
build/Debug
build/build.suo
build/build.sdf
build/ipch
build/build.opensdf

